# =========================
# POSTGRES
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@postgres:${POSTGRES_PORT}/app

# =========================
# SECRETS
# =========================
JWT_SECRET=envjwtsecret

# =========================
# PORTS
# =========================
GAME_SERVER_PORT=4000
NEST_PORT=3001
CHAT_SOCKET_PORT=3001

# =========================
# URLS
# =========================
API_URL=http://localhost:${NEST_PORT}/api
GAME_SOCKET_URL=http://localhost:${GAME_SERVER_PORT}
CHAT_SOCKET_URL=http://localhost:${CHAT_SOCKET_PORT}