# Dependencies
node_modules/

# Build outputs
dist/
build/
tmp/
.temp/
.tmp/

# NestJS
*.js.map

# Prisma
prisma/generated/
prisma/*.db
prisma/*.db-journal

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

pnpm-lock.yaml
npm-lock.json
yarn.lock