{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"objectWrap": "preserve",
	"bracketSameLine": true
}
